/* body {
    min-height: 4000px;
} */
.jumbotron {
    padding-top: 6rem;
    background-color: rgb(227, 249, 255);
}

#project {
    background-color: rgb(227, 249, 255);
}

section {
    padding-top: 5rem;
}